{{#unless (eq page.componentVersion.version 'v3.0')}}
<div class="navbar-item">
  <span class="control">
    <button id="downloadButton"><span> <i class="fa-solid fa-file-pdf"></i> Generate PDF </span></button><script src="js/07-download-button.js"></script>
  </span>
</div>

{{/unless}}

