{{#unless (eq page.componentVersion.version 'v3.0')}}


<div class="download-pdf-button"><a id="downloadButton"><span> <i class="fa-solid fa-file-pdf"></i> Generate PDF </span></a><script src="js/07-download-button.js"></script></div>


{{/unless}}

